.content-wrapper {
    background-image: url('/images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.btn-full {
    width: 100%;
}

.main-container {
    padding: 20px 0;
}

.btn-icon {
    border: none;
    outline: none;
    height: auto;
    width: auto;
    padding: 5px;
    background: none;
}

a.btn-icon {
    text-decoration: none;
}

    a.btn-icon:hover {
        text-decoration: none;
        color: #fff;
    }

.card-body table.dataTable tbody tr {
    background-color: unset;
}

.card-body .dataTables_wrapper label,
.card-body .dataTables_info {
    color: #fff !important;
}

.card-body .dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0;
}


.dark-mode .swal2-popup .swal2-content, .dark-mode .swal2-popup .swal2-title {
    color: #000 !important;
}

.dark-mode .swal2-popup {
    background-color: #fff !important;
}
