@model List<LuuTruMatKhau.Model.Account>
@{ 
    Layout = null;
}
<table class="table text-nowrap" id="tb-account">
    <thead>
        <tr>
            <th>#</th>
            <th>UserName</th>
            <th>PassWord</th>
            <th>Category Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ int n = 1;}
        @foreach (var item in Model)
        {
            <tr>
                <td>@n</td>
                <td>@item.UserName</td>
                <td>@item.Password</td>
                <td>@item.CateName</td>
                <td>
                    <button class="btn btn-outline-primary"><i class="fas fa-pencil-alt"></i>&nbsp;Edit</button>
                    <button class="btn btn-outline-danger"><i class="fas fa-trash"></i>&nbsp;Delete</button>
                </td>
            </tr>
            n++;
        }

    </tbody>
</table>
