@{
    ViewData["Title"] = "Account management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card card-primary card-outline">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="w-100 text-right">
                    <button class="btn btn-outline-light d-inline-block"><i class="fas fa-plus-circle"></i> Account</button>
                    <button class="btn btn-outline-light d-inline-block"><i class="fas fa-key"></i> Key</button>
                    <button class="btn btn-outline-light d-inline-block"><i class="fas fa-lock-open"></i> Show</button>
                </div>
            </div>
        </div>
    </div>
</div>